<ion-header>
  <ion-toolbar>
    <ion-title><center>Listagem</center></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div>
    <center>
      <ion-label>Coturno do Guilherme</ion-label>
      <br> <br>
      <img src="assets/images/coturno_guilherme.jpg">
    </center> 
  </div>

  <div>
    <center>
      <ion-label>Bota Saiyajin</ion-label>
      <br> <br>
      <img src="assets/images/bota_saiyajin.jpg">
    </center> 
  </div>

  <div>
    <center>
      <ion-label>Chinelo de Dedo</ion-label>
      <br> <br>
      <img src="assets/images/chinelo.jpg">
    </center> 
  </div>

  <div>
    <center>
      <ion-label>Sapato Social</ion-label>
      <br> <br>
      <img src="assets/images/sapato.jpg">
    </center> 
  </div>

  <div>
    <center>
      <ion-label>Nike Mag (back to the future)</ion-label>
      <br> <br>
      <img src="assets/images/nike_mag.jpg">
    </center> 
  </div>


</ion-content>
