<ion-header>
  <ion-toolbar>
    <ion-title><center>Inicio</center></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card id="title">
    <center>
      <h1>
        STRYDER'S® CALÇADOS
      </h1>
    </center>
  </ion-card>
    
  <ion-card>
    <center>
      <p>
        calçe a nossa marca!
      </p>
    </center>

    <center>
      <p>
        venha conferir nossos mais diversos calçados
      </p>
    </center>
  
  </ion-card>
  
  
  <ion-card>
    
    <center>
    <iframe width="250" height="150" src="https://www.youtube.com/embed/fI-8HIeKxQs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </center>

  </ion-card>

</ion-content>
